@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: #4c1d95;
  border-radius: 100px;
  border: 2px solid #fff;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #6d28d9;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4c1d95 #fff;
}

/* Smooth Scrolling for the entire page */
html {
  scroll-behavior: smooth;
}

